<div class="admin-page py-6">
  <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8">
    <%= render "admin/shared/form_page_header",
        title: "New Template",
        description: "Add a new template to #{@template_category.name}",
        back_path: admin_template_category_templates_path(@template_category) %>
    <%= render "form", template: @template %>
  </div>
</div>
