<div class="admin-page py-6">
  <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8">
    <%= render "admin/shared/form_page_header",
        title: "New Article",
        description: "Create a new blog article",
        back_path: admin_articles_path %>
    <%= render "form", article: @article %>
  </div>
</div>
