<div class="admin-page py-6">
  <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8">
    <%= render "admin/shared/form_page_header",
        title: "New item",
        description: "Add a new item to #{@didattica_section.name}",
        back_path: admin_didattica_section_didattica_items_path(@didattica_section) %>
    <%= render "form", didattica_item: @didattica_item %>
  </div>
</div>
