<div class="admin-page py-6">
  <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8">
    <%= render "admin/shared/form_page_header",
        title: "New Update",
        description: "Create a new update for #{@forecast.title}",
        back_path: admin_forecast_forecast_updates_path(@forecast) %>
    <%= render "form", forecast_update: @forecast_update %>
  </div>
</div>
